= form_for :widget, :url => widgets_path, remote: true do |f|
  %tr{:id => "new-widget-form", :style => "display:none;"}
    %td= f.text_field :name
    %td= f.text_field :description
    %td{:id => "save-record"}= f.submit "Save" 
    %td= link_to "Cancel", "#", {:id => 'cancel'}
    
    